@model IEnumerable<ToDoList>
@{
    ViewData["Title"] = "Index";
}

<h1> Your To-Do List </h1>

<br />



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="text-align:center; width:350px">Current Tasks</th>
      <th scope="col" style="text-align:center; width:75px">Task Completed?</th>
      <th scope="col" style="text-align:center; width:75px">Finish Task</th>
      <th scope="col" style="text-align:center; width:75px">Edit Task</th>
      <th scope="col" style="text-align:center; width:75px">Remove Task</th>
    </tr>
  </thead>

  <tbody>
     @*going through each row of data*@
      @foreach(var obj in Model)
            {
                <tr style="text-align:center">

                    @if (obj.IsCompleted)
                    {
                    <td class="table-primary" style="text-align:center">      

                    
                    @obj.Task
                    </td>
                    }
                    else
                    {
                    <td class="table-secondary" style="text-align:center">      

                    @obj.Task
                    </td>
                    }
                    <td style="text-align:center">     
                        <div class="form-check">      
                        <input asp-for="@obj.IsCompleted" type="checkbox" value="@obj.IsCompleted"/>
                        </div>
                    </td>
                     <td>
                         <div class="w-50 btn-group" role="group">
                            <a asp-controller="ToDoList" asp-action="CompleteTask" asp-route-id="@obj.Id" class="btn btn-success" > <i class="bi bi-check-circle-fill"> </i> </a> 
                        </div>
                    </td>
                    <td style="text-align:center">  
                        <div class="w-50 btn-group" role="group">
                             <a asp-controller="ToDoList" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning"> <i class="bi bi-pencil-square"></i> </a> 
                        </div>
                    </td>

                    <td style="text-align:center">
                        <div class="w-50 btn-group" role="group">
                            <a asp-controller="ToDoList" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"> <i class="bi bi-x-square-fill"></i> </a> 
                        </div>
                    </td>
                   
                </tr>        
           
            
            }
  </tbody>

</table>

  <br />

  <div class="container p-1">
        <a asp-controller="ToDoList" asp-action="AddNewTask" class="btn btn-info" style="width:200px">
        Add Additional Task
        </a>
  </div> 
@*
   <div class="container p-1">
        <a asp-controller="ToDoList" asp-action="SaveList" class="btn btn-info" style="width:200px">
        Save List
        </a>
  </div> 

    <div class="container p-1">
        <a asp-controller="ToDoList" asp-action="LoadList" class="btn btn-info" style="width:200px">
        Load List
        </a>
  </div> 

     <div class="container p-1">
        <a asp-controller="ToDoList" asp-action="ResetList" class="btn btn-info" style="width:200px">
        Reset List
        </a>
  </div> *@