@model IEnumerable<ToDoList>
@{
    ViewData["Title"] = "Index";
}

@{
    string currentListName = new string("");
}

        @if (Model.ElementAt(0) != null && Model.ElementAt(0).ListName != "")
        {
           <h1> @Model.ElementAt(0).ListName.ToString()</h1>
                currentListName = @Model.ElementAt(0).ListName.ToString();
        }
        else
        {
            <h1> No List Here </h1>
        }
      

<br />



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="text-align:center; width:350px">Current Tasks</th>
      <th scope="col" style="text-align:center; width:75px">Finish Task</th>
      <th scope="col" style="text-align:center; width:75px">Edit Task</th>
      <th scope="col" style="text-align:center; width:75px">Remove Task</th>
    </tr>
  </thead>

  <tbody>
     @*going through each row of data*@
      @foreach(var obj in Model)
            {
            @* @if (obj.IsCompleted)
            {*@
            <tr style="text-align:center">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (obj.UserName != User.Identity.Name)
                    {
                        continue;
                    }
                }
                else
                {
                    @if(obj.UserName != "Guest")
                    {
                        continue;
                    }
                }
                @if (obj.IsCompleted)
                    {
                    <td class="table-primary" style="text-align:center">      

                    
                    @obj.Task
                    </td>
                    }
                    else
                    {
                    <td class="table-secondary" style="text-align:center">      

                    @obj.Task
                    </td>
                    }         
                     <td>
                         <div class="w-50 btn-group" role="group">
                        <a asp-controller="ToDoList" asp-action="CompleteTask" asp-route-id="@obj.Id" asp-route-currentL="@currentListName" class="btn btn-success"> <i class="bi bi-check-circle-fill"> </i> </a>
                    </div>
                    </td>
                    <td style="text-align:center">  
                        <div class="w-50 btn-group" role="group">
                             <a asp-controller="ToDoList" asp-action="Edit" asp-route-id="@obj.Id" asp-route-currentL="@currentListName" class="btn btn-warning"> <i class="bi bi-pencil-square"></i> </a> 
                        </div>
                    </td>

                    <td style="text-align:center">
                        <div class="w-50 btn-group" role="group">
                        <a asp-controller="ToDoList" asp-action="Delete" asp-route-id="@obj.Id" asp-route-currentL="@currentListName" class="btn btn-danger"> <i class="bi bi-x-square-fill"></i> </a>
                    </div>
                    </td>
                   
                </tr>                   
            
            }
  </tbody>

</table>

  <br />

  <div class="container p-1">
        <a asp-controller="ToDoList" asp-action="AddNewTask" asp-route-currentL="@currentListName" class="btn btn-info" style="width:200px">
        Add Additional Task
        </a>
  </div> 